.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 150px;
  margin-left: auto;
  position: relative;
  h1 {
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(calc(-50% - 70px));
  }
  .select {
    position: absolute;
    top: -70px;
    left: -60px;
    p {
      font-size: 16px;
      margin-bottom: 5px;
      letter-spacing: 0.5px;
    }
    .select-body {
      position: relative;
      width: 190px;
      height: 35px;
      margin: 5px 0 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      select {
        height: 100%;
        width: 100%;
        font-size: 16px;
        border: none;
        appearance: none;
        padding: 0 30px 0 10px;
        background: linear-gradient(90deg, #9776a8 79%, #525169 77%);
        color: black;
        outline: none;
        color: #f5f5f5;
        border-radius: 2px;
        &:focus .select-icon {
          transform: rotate(90deg);
        }
        option {
          color: #00f;
          background: #f7f7f7;
          &:hover {
            color: green;
          }
        }
      }
      .select-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        i {
          font-size: 20px;
          color: #f5f5f5;
        }
      }
    }
  }
  .sort-button {
    position: absolute;
    top: -47px;
    right: 60px;
    width: 190px;
    height: 35px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-image: linear-gradient(
      to right,
      #7474bf 0%,
      #348ac7 51%,
      #7474bf 100%
    );
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    &:hover {
      background-position: right center;
    }
  }
  .crd {
    width: 276px;
  }
}

.turn-over_arrow {
  transform: rotate(-180deg);
}

@media screen and (max-width: 630px) {
  .container {
    .select {
      left: -20px;
    }
    .sort-button {
      right: 80px;
    }
  }
}

@media screen and (max-width: 518px) {
  .container {
    .sort-button {
      right: 5px;
    }
  }
}

@media screen and (max-width: 430px) {
  .container {
    .select {
      .select-body {
        width: 140px;
        .select-icon {
          right: 5px;
        }
      }
    }
    .sort-button {
      width: 140px;
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    .sort-button {
      right: 10px;
    }
  }
}

@media screen and (max-width: 322px) {
  .container {
    .select {
      .select-body {
        width: 120px;
        .select-icon {
          right: 5px;
        }
      }
    }
    .sort-button {
      width: 120px;
      font-size: 14px;
    }
  }
}
