<div class="container">
  <h1>Products</h1>
  <div class="select">
    <p>Select Category:</p>
    <select
      [(ngModel)]="selectedCategory"
      (change)="loadProductsByCategory(selectedCategory)"
    >
      <option *ngFor="let item of productCategories" [value]="item">
        {{ item }}
      </option>
    </select>
  </div>
  <button class="sort-button" (click)="toggleSortOrder()">Sort By Price</button>
  <div class="crd" *ngFor="let prod of productList">
    <app-card [product]="prod" (clicked)="onClick($event, prod.id)"></app-card>
  </div>
</div>
